/*Some custom css to modify the standard Shiny values. */

/*
.skin-blue .left-side,
.skin-blue .main-sidebar,
.skin-blue .wrapper {
  background-color: transparent;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  background-color: transparent;
  color: #9e9e9e;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  background: transparent;
}

.skin-blue .sidebar a {
  color: black;
}
*/

.jstree-proton {
  font-family: "Open Sans";
}

.jstree-proton .jstree-themeicon {
  display: none;
}

/*
.jstree-icon .jstree-themeicon > .jstree-proton .jstree-node, .jstree-proton .jstree-icon {
  background-image: none;
  background-size: 0 0;
}
*/

.jstree-proton .jstree-clicked {
  background: transparent;
}

.jstree-proton .jstree-hovered {
  background: transparent;
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
  background-color: #222D32;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.modal-dialog {
    width: 75%;
}

.box {
    margin-bottom: 0;
    box-shadow: 2px 2px 4px;
}

.box.box-warning {
    border-top-color: #ffffff;
}

.box.box-primary {
    border-top-color: #0A4783;
}
.box.box-solid.box-primary {
  border: 1px solid #0A4783;
}

.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background-color: #0A4783;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}

.btn-primary {
    background-color: #0A4783;
    border-color: #367fa9;
}

.bg-orange {
    background-color: #f49831 !important;
}

.bg-blue {
    background-color: #0A4783 !important;
}

input[type="number"] {
  max-width: 80%;
}

.mapper {
    background-color: #bfbfbf;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    overflow: hidden;
    padding: 0;
}

div.graph-outer {
    /* position: fixed; */
    background-color: #f2f2f2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Open Sans';
  /* font-family: 'Helvetica Neue', Helvetica; */
  font-weight: 300;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 0 0 0;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.8;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.97;
  transition-delay: 0;
}

#help-button-box {
  /* Appearance */
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0 0 0 0;
  /* Fade out while not hovering */
  opacity: 0.85;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.99;
  transition-delay: 0;
}

#controls-graph {
  /* Appearance */
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 20px 20px 20px 20px;
  /* Fade out while not hovering */
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

.bottom-align {
    position: absolute;
    bottom: 12px;
}

.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
}
